<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加主机</title>

    <!-- 引入 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        .el-input{
            width: 300px;
        }
    </style>
</head>

<body>
    <strong style="font-size: 20px;margin: 10px">添加主机</strong>
    <hr>
    <div id="block">
        <el-form ref="form" :model="form" status-icon :rules="rules" label-width="200px" label-position="right">
            <el-form-item label="主机名称：">
                <el-input v-model="form.name"></el-input>
            </el-form-item>

            <el-form-item label="主机号：" prop="host">
                <el-input v-model="form.host"></el-input>
            </el-form-item>

            <el-form-item label="端口号：" prop="port">
                <el-input v-model="form.port"></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" @click="onSubmit(form)">添加</el-button>
                <el-button @click="exit()">取消</el-button>
            </el-form-item>
        </el-form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const user_id=getCookie("user_id");
        new Vue({
            el: '#block',
            data() {
                return {
                    form: {
                        name: '',
                        host: '',
                        port: '',
                    },
                    rules: {
                        host:[
                            {type: "string", required: true,message: '请输入正确的IP地址格式，例：255.255.255.255',pattern:/((2[0-4]\d|25[0-5]|[01]?\d\d?)\.){3}(2[0-4]\d|25[0-5]|[01]?\d\d?)/, trigger: 'blur'}
                        ],
                        port:[
                            {type: "string", required: true, message: '端口只能为数字',pattern: /^[1-9]\d*$/, trigger: 'blur'}
                        ]
                    }
                }
            },
            methods: {
                onSubmit(form) {
                    this.$refs.form.validate((valid) => {
                        if (valid) {
                            const ctx=this;
                            axios({
                                method: 'post',
                                url: '../../addNode',
                                data:
                                    {
                                        "user_id" : user_id,
                                        "host": ctx.form.host,
                                        "name": ctx.form.name,
                                        "port": ctx.form.port,
                                    },
                            }).then(function (response) {
                                if (response.data.error===""){
                                    alert("添加成功！");
                                    window.location.href="/static/html/readNodeList.html";
                                }else{
                                    alert("出错："+response.data.error);
                                }
                            }).catch(function (error) {
                                alert("出错："+error);
                            });
                        } else {
                            alert("请按提示填写各信息")
                            return false;
                        }
                    });
                },
                exit(){
                    window.location.href="/static/html/readNodeList.html";
                }
            }
        });

        function getCookie(cname){
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i=0; i<ca.length; i++) {
                var c = ca[i].trim();
                if (c.indexOf(name)==0) { return c.substring(name.length,c.length); }
            }
            return "";
        }
    </script>
</body>

</html>